# Projeto 01  | Ciência dos Dados | Engenharia 2B #
***Aluno:*** Cicero Tiago Carneiro Valentim
<p style="font-size:11px">As informações disponíveis neste documento estão sujeitas a <b>alterações</b> até a data de entrega definitiva. </p>

Esse projeto visa avaliar dados com base na Organisation for Economic Co-operation and Development ***(OECD)***.
Serão cruzados dados para comparar o **consumo de calorias diárias por pessoa** e **expectativa de vida** antes e depois de determinados países fazerem parte da organização. Além disso, países que ainda não fazem parte nos períodos estudados terão seus índices avaliados. Por fim, será que <b style="color:blue">é correto dizer que países que entraram na OECD são beneficiados de forma expressiva se comparados a países que não entraram?</b>

**1)** Importando as bibliotecas necessárias e definindo funções:

In [2]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
from random import randint
import numpy as np
import seaborn as sns
import os

In [3]:
def pick(lista, qtd):
    temp = []
    while len(temp) < qtd:
        temp_a = lista[randint(0,len(lista)-1)]
        if temp_a not in temp:
            temp.append(temp_a)
    return temp

**2)** Definindo o caminho das tabelas

In [4]:
tabs = os.getcwd() + "/tabs/"

<b>3)</b> Vamos tratar a lista de países e datas de entrada na Organização de forma que possamos obter um dicionário cujas chaves são strings com nomes de países e cujos valores são anos de ingresso. <br>Conjunto de paises membros da OECD e suas respectivas datas de entrada:<br><i style="font-size:12px;font-family:monospace">A lista de países pode ser acessada em: http://worldpopulationreview.com/countries/oecd-countries/</i>

In [5]:
# partindo da lista de países membros retirada do link referenciado acima, a seguinte string será fatiada, 
# filtrada e formatada em dicionário para que possa ser utilizada no tratamento dos dados.

paises = """Australia, June 7, 1971
Austria, September 29, 1961
Belgium, September 13, 1961
Canada, April 10, 1961
Chile, May 7, 2010
The Czech Republic, December 21, 1995
Denmark, May 30, 1961
Estonia, December 9, 2010
Finland, January 28, 1969
France, August 7, 1961
Germany, September 27, 1961
Greece, September 27, 1961
Hungary, May 7, 1996
Iceland, June 5, 1961
Ireland, August 17, 1961
Israel, September 7, 2010
Italy, March 29, 1962
Japan, April 28, 1974
Korea, December 12, 1996
Latvia, July 1, 2016
Lithuania, July 5, 2018
Luxembourg, December 7, 1961
Mexico, May 18, 1994
The Netherlands, November 13, 1961
New Zealand, May 29, 1973
Norway, July 4, 1961
Poland, November 22, 1996"""

paises = paises.split("\n")                 # """Norway, July 4, 1961
                                            # Poland, November 22, 1996""" --> ["Norway, July 4, 1961","Poland, November 22, 1996]

paises_oecd = {}
for i in range(len(paises)):
    paises[i] = paises[i].split(',')        #  "Poland, November 22, 1996" --> ["Poland"," November 22"," 1996"]
    paises[i][2].replace(" ","")            #  ["Poland"," November 22"," 1996"] --> ["Poland"," November 22","1996"]
    paises[i][2] = int(paises[i][2])        #  ["Poland"," November 22","1996"] --> ["Poland"," November 22", 1996]
    del paises[i][1]                        #  ["Poland"," November 22","1996"] --> ["Poland", 1996]
    paises_oecd[paises[i][0]]=[paises[i][1]]  #  ["Poland", 1996] --> {... "Poland": [1996], ...}
    

# Quantidade de países membros:
print("Quantidade de países membros: {}".format(len(paises_oecd)))

Quantidade de países membros: 27

Criando <i>dataframes</i> apenas com países membros:

In [6]:
paises_oecd = pd.DataFrame(paises_oecd).T
paises_oecd

                       0
Australia           1971
Austria             1961
Belgium             1961
Canada              1961
Chile               2010
The Czech Republic  1995
Denmark             1961
Estonia             2010
Finland             1969
France              1961
Germany             1961
Greece              1961
Hungary             1996
Iceland             1961
Ireland             1961
Israel              2010
Italy               1962
Japan               1974
Korea               1996
Latvia              2016
Lithuania           2018
Luxembourg          1961
Mexico              1994
The Netherlands     1961
New Zealand         1973
Norway              1961
Poland              1996

Veja que é necessário renomear a coluna 0 para "years" e definir o index como "country"

In [7]:
paises_oecd = paises_oecd.rename(columns={0:"years",})
paises_oecd.index.names = ["country"]
paises_oecd.head(3)                           # formatado

           years
country
Australia   1971
Austria     1961
Belgium     1961

<b>4)</b> Importando <i>dataframes</i> obtidos no <b><a href="gapminder.org">Gapminder</a></b>.

In [8]:
food = pd.read_excel(tabs+"food_consumption.xlsx")      # kcal/pessoa/dia
life = pd.read_excel(tabs+'life_expectancy_years.xlsx') # expectativa de vida
agroPib = pd.read_excel(tabs+'Agriculture (p of GDP).xlsx')

In [23]:
agroPib.dropna().head()
agroPib.rename( columns={"Agriculture, value added (% of GDP)":"country"})
agroPib.set_index(["country"])

KeyError: 'country'

In [24]:
dict(agroPib)

{'Agriculture, value added (% of GDP)': 0                       Abkhazia
 1                    Afghanistan
 2          Akrotiri and Dhekelia
 3                        Albania
 4                        Algeria
 5                 American Samoa
 6                        Andorra
 7                         Angola
 8                       Anguilla
 9            Antigua and Barbuda
 10                     Argentina
 11                       Armenia
 12                         Aruba
 13                     Australia
 14                       Austria
 15                    Azerbaijan
 16                       Bahamas
 17                       Bahrain
 18                    Bangladesh
 19                      Barbados
 20                       Belarus
 21                       Belgium
 22                        Belize
 23                         Benin
 24                       Bermuda
 25                        Bhutan
 26                       Bolivia
 27        Bosnia and Herzegovina
 28                      Botswana
 29                        Brazil
                  ...
 240                United States
 241                      Uruguay
 242                         USSR
 243                   Uzbekistan
 244             Wallis et Futuna
 245                      Vanuatu
 246                    Venezuela
 247           West Bank and Gaza
 248                 West Germany
 249               Western Sahara
 250                      Vietnam
 251        Virgin Islands (U.S.)
 252         North Yemen (former)
 253         South Yemen (former)
 254                        Yemen
 255                   Yugoslavia
 256                       Zambia
 257                     Zimbabwe
 258                        Åland
 259                  South Sudan
 260                    Christian
 261                    Coastline
 262                      Curaçao
 263    Sint Maarten (Dutch part)
 264     St. Martin (French part)
 265                   Antarctica
 266      Virgin Islands, British
 267          Hawaiian Trade Zone
 268         U.S. Pacific Islands
 269                  Wake Island
 Name: Agriculture, value added (% of GDP), Length: 270, dtype: object,
 '1961': 0            NaN
 1            NaN
 2            NaN
 3            NaN
 4            NaN
 5            NaN
 6            NaN
 7            NaN
 8            NaN
 9            NaN
 10           NaN
 11           NaN
 12           NaN
 13           NaN
 14           NaN
 15           NaN
 16           NaN
 17           NaN
 18           NaN
 19     20.249653
 20           NaN
 21           NaN
 22           NaN
 23     46.193786
 24           NaN
 25           NaN
 26           NaN
 27           NaN
 28     41.870602
 29     19.496612
          ...
 240          NaN
 241          NaN
 242          NaN
 243          NaN
 244          NaN
 245          NaN
 246     4.934940
 247          NaN
 248          NaN
 249          NaN
 250          NaN
 251          NaN
 252          NaN
 253          NaN
 254          NaN
 255          NaN
 256          NaN
 257          NaN
 258          NaN
 259          NaN
 260          NaN
 261          NaN
 262          NaN
 263          NaN
 264          NaN
 265          NaN
 266          NaN
 267          NaN
 268          NaN
 269          NaN
 Name: 1961, Length: 270, dtype: float64,
 '1962': 0            NaN
 1            NaN
 2            NaN
 3            NaN
 4            NaN
 5            NaN
 6            NaN
 7            NaN
 8            NaN
 9            NaN
 10           NaN
 11           NaN
 12           NaN
 13           NaN
 14           NaN
 15           NaN
 16           NaN
 17           NaN
 18           NaN
 19     19.356999
 20           NaN
 21           NaN
 22           NaN
 23     44.709273
 24           NaN
 25           NaN
 26           NaN
 27           NaN
 28     40.456968
 29     17.350489
          ...
 240          NaN
 241          NaN
 242          NaN
 243          NaN
 244          NaN
 245          NaN
 246     4.902952
 247          NaN
 248          NaN
 249          NaN
 250          NaN
 251          NaN
 252          NaN
 253          NaN
 254          NaN
 255          NaN
 256          NaN
 257          NaN
 258          NaN
 259          NaN
 260          NaN
 261          NaN
 262          NaN
 263          NaN
 264          NaN
 265          NaN
 266          NaN
 267          NaN
 268          NaN
 269          NaN
 Name: 1962, Length: 270, dtype: float64,
 '1963': 0            NaN
 1            NaN
 2            NaN
 3            NaN
 4            NaN
 5            NaN
 6            NaN
 7            NaN
 8            NaN
 9            NaN
 10           NaN
 11           NaN
 12           NaN
 13           NaN
 14           NaN
 15           NaN
 16           NaN
 17           NaN
 18           NaN
 19     23.072430
 20           NaN
 21           NaN
 22           NaN
 23     43.718370
 24           NaN
 25           NaN
 26           NaN
 27           NaN
 28     39.380814
 29     16.793914
          ...
 240          NaN
 241          NaN
 242          NaN
 243          NaN
 244          NaN
 245          NaN
 246     5.080288
 247          NaN
 248          NaN
 249          NaN
 250          NaN
 251          NaN
 252          NaN
 253          NaN
 254          NaN
 255          NaN
 256          NaN
 257          NaN
 258          NaN
 259          NaN
 260          NaN
 261          NaN
 262          NaN
 263          NaN
 264          NaN
 265          NaN
 266          NaN
 267          NaN
 268          NaN
 269          NaN
 Name: 1963, Length: 270, dtype: float64,
 '1964': 0            NaN
 1            NaN
 2            NaN
 3            NaN
 4            NaN
 5            NaN
 6            NaN
 7            NaN
 8            NaN
 9            NaN
 10           NaN
 11           NaN
 12           NaN
 13           NaN
 14           NaN
 15           NaN
 16           NaN
 17           NaN
 18           NaN
 19     19.880952
 20           NaN
 21           NaN
 22           NaN
 23     45.528152
 24           NaN
 25           NaN
 26           NaN
 27           NaN
 28     38.430411
 29     17.286118
          ...
 240          NaN
 241          NaN
 242          NaN
 243          NaN
 244          NaN
 245          NaN
 246     5.098463
 247          NaN
 248          NaN
 249          NaN
 250          NaN
 251          NaN
 252          NaN
 253          NaN
 254          NaN
 255          NaN
 256          NaN
 257          NaN
 258          NaN
 259          NaN
 260          NaN
 261          NaN
 262          NaN
 263          NaN
 264          NaN
 265          NaN
 266          NaN
 267          NaN
 268          NaN
 269          NaN
 Name: 1964, Length: 270, dtype: float64,
 '1965': 0            NaN
 1            NaN
 2            NaN
 3            NaN
 4      12.876213
 5            NaN
 6            NaN
 7            NaN
 8            NaN
 9            NaN
 10     12.904163
 11           NaN
 12           NaN
 13           NaN
 14           NaN
 15           NaN
 16           NaN
 17           NaN
 18           NaN
 19     20.011274
 20           NaN
 21           NaN
 22           NaN
 23     44.619425
 24           NaN
 25           NaN
 26           NaN
 27           NaN
 28     33.841463
 29     18.709918
          ...
 240          NaN
 241          NaN
 242          NaN
 243          NaN
 244          NaN
 245          NaN
 246     5.321558
 247          NaN
 248          NaN
 249          NaN
 250          NaN
 251          NaN
 252          NaN
 253          NaN
 254          NaN
 255          NaN
 256    15.634006
 257    20.125821
 258          NaN
 259          NaN
 260          NaN
 261          NaN
 262          NaN
 263          NaN
 264          NaN
 265          NaN
 266          NaN
 267          NaN
 268          NaN
 269          NaN
 Name: 1965, Length: 270, dtype: float64,
 '1966': 0            NaN
 1            NaN
 2            NaN
 3            NaN
 4       9.137256
 5            NaN
 6            NaN
 7            NaN
 8            NaN
 9            NaN
 10     10.278586
 11           NaN
 12           NaN
 13           NaN
 14           NaN
 15           NaN
 16           NaN
 17           NaN
 18           NaN
 19     19.621252
 20           NaN
 21           NaN
 22           NaN
 23     45.147820
 24           NaN
 25           NaN
 26           NaN
 27           NaN
 28     39.295393
 29     15.692939
          ...
 240          NaN
 241          NaN
 242          NaN
 243          NaN
 244          NaN
 245          NaN
 246     5.642903
 247          NaN
 248          NaN
 249          NaN
 250          NaN
 251          NaN
 252          NaN
 253          NaN
 254          NaN
 255          NaN
 256    14.691358
 257    21.953760
 258          NaN
 259          NaN
 260          NaN
 261          NaN
 262          NaN
 263          NaN
 264          NaN
 265          NaN
 266          NaN
 267          NaN
 268          NaN
 269          NaN
 Name: 1966, Length: 270, dtype: float64,
 '1967': 0            NaN
 1            NaN
 2            NaN
 3            NaN
 4      10.330666
 5            NaN
 6            NaN
 7            NaN
 8            NaN
 9            NaN
 10      9.980386
 11           NaN
 12           NaN
 13           NaN
 14           NaN
 15           NaN
 16           NaN
 17           NaN
 18           NaN
 19     19.189567
 20           NaN
 21           NaN
 22           NaN
 23     42.081013
 24           NaN
 25           NaN
 26           NaN
 27           NaN
 28           NaN
 29     15.108760
          ...
 240          NaN
 241          NaN
 242          NaN
 243          NaN
 244          NaN
 245          NaN
 246     5.876246
 247          NaN
 248          NaN
 249          NaN
 250          NaN
 251          NaN
 252          NaN
 253          NaN
 254          NaN
 255          NaN
 256    14.025086
 257    22.894207
 258          NaN
 259          NaN
 260          NaN
 261          NaN
 262          NaN
 263          NaN
 264          NaN
 265          NaN
 266          NaN
 267          NaN
 268          NaN
 269          NaN
 Name: 1967, Length: 270, dtype: float64,
 '1968': 0            NaN
 1            NaN
 2            NaN
 3            NaN
 4      10.853374
 5            NaN
 6            NaN
 7            NaN
 8            NaN
 9            NaN
 10      9.721277
 11           NaN
 12           NaN
 13           NaN
 14           NaN
 15           NaN
 16           NaN
 17           NaN
 18           NaN
 19     14.626263
 20           NaN
 21           NaN
 22           NaN
 23     38.868069
 24           NaN
 25           NaN
 26           NaN
 27           NaN
 28           NaN
 29     14.050292
          ...
 240          NaN
 241          NaN
 242          NaN
 243          NaN
 244          NaN
 245          NaN
 246     5.971564
 247          NaN
 248          NaN
 249          NaN
 250          NaN
 251          NaN
 252          NaN
 253          NaN
 254          NaN
 255          NaN
 256    12.439261
 257    17.783044
 258          NaN
 259          NaN
 260          NaN
 261          NaN
 262          NaN
 263          NaN
 264          NaN
 265          NaN
 266          NaN
 267          NaN
 268          NaN
 269          NaN
 Name: 1968, Length: 270, dtype: float64,
 '1969': 0            NaN
 1            NaN
 2            NaN
 3            NaN
 4       9.030165
 5            NaN
 6            NaN
 7            NaN
 8            NaN
 9            NaN
 10      9.185893
 11           NaN
 12           NaN
 13           NaN
 14           NaN
 15           NaN
 16           NaN
 17           NaN
 18           NaN
 19     11.964874
 20           NaN
 21           NaN
 22           NaN
 23     38.496663
 24           NaN
 25           NaN
 26           NaN
 27           NaN
 28           NaN
 29     13.215907
          ...
 240          NaN
 241          NaN
 242          NaN
 243          NaN
 244          NaN
 245          NaN
 246     6.472197
 247          NaN
 248          NaN
 249          NaN
 250          NaN
 251          NaN
 252          NaN
 253          NaN
 254          NaN
 255          NaN
 256    10.555556
 257    20.445870
 258          NaN
 259          NaN
 260          NaN
 261          NaN
 262          NaN
 263          NaN
 264          NaN
 265          NaN
 266          NaN
 267          NaN
 268          NaN
 269          NaN
 Name: 1969, Length: 270, dtype: float64,
 '1970': 0            NaN
 1            NaN
 2            NaN
 3            NaN
 4       9.205466
 5            NaN
 6            NaN
 7            NaN
 8            NaN
 9            NaN
 10      9.637561
 11           NaN
 12           NaN
 13           NaN
 14      7.830931
 15           NaN
 16           NaN
 17           NaN
 18           NaN
 19     10.972179
 20           NaN
 21      4.020534
 22           NaN
 23     36.327852
 24           NaN
 25           NaN
 26     20.783000
 27           NaN
 28           NaN
 29     12.345263
          ...
 240     3.542820
 241          NaN
 242          NaN
 243          NaN
 244          NaN
 245          NaN
 246     6.108787
 247          NaN
 248          NaN
 249          NaN
 250          NaN
 251          NaN
 252          NaN
 253          NaN
 254          NaN
 255          NaN
 256    11.632479
 257    16.981599
 258          NaN
 259          NaN
 260          NaN
 261          NaN
 262          NaN
 263          NaN
 264          NaN
 265          NaN
 266          NaN
 267          NaN
 268          NaN
 269          NaN
 Name: 1970, Length: 270, dtype: float64,
 '1971': 0            NaN
 1            NaN
 2            NaN
 3            NaN
 4       9.569175
 5            NaN
 6            NaN
 7            NaN
 8            NaN
 9            NaN
 10     10.865948
 11           NaN
 12           NaN
 13           NaN
 14      6.850303
 15           NaN
 16           NaN
 17           NaN
 18           NaN
 19      9.403153
 20           NaN
 21      3.972976
 22           NaN
 23     34.357736
 24           NaN
 25           NaN
 26     20.937019
 27           NaN
 28           NaN
 29     12.859259
          ...
 240     3.514396
 241          NaN
 242          NaN
 243          NaN
 244          NaN
 245          NaN
 246     5.864662
 247          NaN
 248          NaN
 249          NaN
 250          NaN
 251          NaN
 252          NaN
 253          NaN
 254          NaN
 255          NaN
 256    14.246069
 257    19.214338
 258          NaN
 259          NaN
 260          NaN
 261          NaN
 262          NaN
 263          NaN
 264          NaN
 265          NaN
 266          NaN
 267          NaN
 268          NaN
 269          NaN
 Name: 1971, Length: 270, dtype: float64,
 '1972': 0            NaN
 1            NaN
 2            NaN
 3            NaN
 4       8.420846
 5            NaN
 6            NaN
 7            NaN
 8            NaN
 9            NaN
 10     10.984870
 11           NaN
 12           NaN
 13      7.033742
 14      6.735602
 15           NaN
 16           NaN
 17           NaN
 18           NaN
 19      9.870919
 20           NaN
 21      4.551150
 22           NaN
 23     34.231022
 24           NaN
 25           NaN
 26     20.189413
 27           NaN
 28           NaN
 29     12.994682
          ...
 240     3.687494
 241          NaN
 242          NaN
 243          NaN
 244          NaN
 245          NaN
 246     5.386740
 247          NaN
 248          NaN
 249          NaN
 250          NaN
 251          NaN
 252          NaN
 253          NaN
 254          NaN
 255          NaN
 256    14.057144
 257    19.653851
 258          NaN
 259          NaN
 260          NaN
 261          NaN
 262          NaN
 263          NaN
 264          NaN
 265          NaN
 266          NaN
 267          NaN
 268          NaN
 269          NaN
 Name: 1972, Length: 270, dtype: float64,
 '1973': 0            NaN
 1            NaN
 2            NaN
 3            NaN
 4       7.039760
 5            NaN
 6            NaN
 7            NaN
 8            NaN
 9            NaN
 10     11.952548
 11           NaN
 12           NaN
 13      8.550116
 14      7.250833
 15           NaN
 16           NaN
 17           NaN
 18           NaN
 19     10.362798
 20           NaN
 21      4.374640
 22           NaN
 23     33.623920
 24           NaN
 25           NaN
 26     21.034996
 27           NaN
 28           NaN
 29     13.357487
          ...
 240     4.843478
 241          NaN
 242          NaN
 243          NaN
 244          NaN
 245          NaN
 246     5.433526
 247          NaN
 248          NaN
 249          NaN
 250          NaN
 251          NaN
 252          NaN
 253          NaN
 254          NaN
 255          NaN
 256    12.352132
 257    16.638292
 258          NaN
 259          NaN
 260          NaN
 261          NaN
 262          NaN
 263          NaN
 264          NaN
 265          NaN
 266          NaN
 267          NaN
 268          NaN
 269          NaN
 Name: 1973, Length: 270, dtype: float64,
 '1974': 0            NaN
 1            NaN
 2            NaN
 3            NaN
 4       7.366629
 5            NaN
 6            NaN
 7            NaN
 8            NaN
 9            NaN
 10     10.230838
 11           NaN
 12           NaN
 13      9.590900
 14      6.673793
 15           NaN
 16           NaN
 17           NaN
 18           NaN
 19     10.696440
 20           NaN
 21      3.344895
 22           NaN
 23     31.533696
 24           NaN
 25           NaN
 26     22.000739
 27           NaN
 28           NaN
 29     12.920234
          ...
 240     4.328259
 241          NaN
 242          NaN
 243          NaN
 244          NaN
 245          NaN
 246     4.503106
 247          NaN
 248          NaN
 249          NaN
 250          NaN
 251          NaN
 252          NaN
 253          NaN
 254          NaN
 255          NaN
 256    11.626822
 257    19.735738
 258          NaN
 259          NaN
 260          NaN
 261          NaN
 262          NaN
 263          NaN
 264          NaN
 265          NaN
 266          NaN
 267          NaN
 268          NaN
 269          NaN
 Name: 1974, Length: 270, dtype: float64,
 '1975': 0            NaN
 1            NaN
 2            NaN
 3            NaN
 4      10.418408
 5            NaN
 6            NaN
 7            NaN
 8            NaN
 9            NaN
 10      6.583910
 11           NaN
 12           NaN
 13      7.231730
 14      6.250559
 15           NaN
 16           NaN
 17           NaN
 18           NaN
 19     13.331430
 20           NaN
 21      3.285583
 22           NaN
 23     30.538667
 24           NaN
 25           NaN
 26     21.793925
 27           NaN
 28     29.878175
 29     12.098896
          ...
 240     4.073397
 241          NaN
 242          NaN
 243          NaN
 244          NaN
 245          NaN
 246     5.032351
 247          NaN
 248          NaN
 249          NaN
 250          NaN
 251          NaN
 252          NaN
 253          NaN
 254          NaN
 255          NaN
 256    14.315496
 257    19.055943
 258          NaN
 259          NaN
 260          NaN
 261          NaN
 262          NaN
 263          NaN
 264          NaN
 265          NaN
 266          NaN
 267          NaN
 268          NaN
 269          NaN
 Name: 1975, Length: 270, dtype: float64,
 '1976': 0            NaN
 1            NaN
 2            NaN
 3            NaN
 4       9.926881
 5            NaN
 6            NaN
 7            NaN
 8            NaN
 9            NaN
 10      8.152171
 11           NaN
 12           NaN
 13      6.316060
 14      6.179421
 15           NaN
 16           NaN
 17           NaN
 18           NaN
 19      9.492386
 20           NaN
 21      3.373217
 22           NaN
 23     33.196506
 24           NaN
 25           NaN
 26     21.291590
 27           NaN
 28     26.828038
 29     13.004399
          ...
 240     3.566462
 241          NaN
 242          NaN
 243          NaN
 244          NaN